@import '@/style/variables.scss';

@mixin nav-link {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.Navigation {
  position: relative;
  background: white;
  border-bottom: 1px solid black;
  min-height: $nav-height;
  max-height: $nav-height;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: flex-end;
}

.NavDropdown {
  position: absolute;
  transition: bottom 200ms;
  z-index: -1;
  border: 1px solid black;
  width: 150px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  right: 0;
  border-radius: 5px;

  button {
    @include nav-link;
    background: none;
    border: none;
  }

  * {
    @include nav-link;
    padding: 4px 8px;
    width: calc(100% - 11px);
    border-bottom: 1px solid black;
  }
}

.open {
  bottom: calc(-100% - 14px);
}

.closed {
  bottom: 0
}

.NavLink {
  @include nav-link;
}

.active {
  color: green;  
}

.UserMenu {
  position: relative;
}

.defaultUserIcon {
  font-size: 38px;
  color: gray;
}

.spotifyUserIcon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
