@mixin nav-link {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.Navigation {
  position: relative;
  background: white;
  border-bottom: 1px solid black;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: flex-end;
}

.NavDropdown {
  position: absolute;
  transition: bottom 400ms;
  z-index: -1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  right: 0;

  button {
    @include nav-link;
    background: none;
    border: none;
  }

  * {
    @include nav-link;
    padding: 4px 8px;
    width: calc(100% - 16px);
    border-bottom: 1px solid black;
  }
}

.open {
  bottom: calc(-100% - 7px);
}

.closed {
  bottom: 0
}

.NavLink {
  @include nav-link;
}

.active {
  color: green;  
}
