@import '@/style/variables.scss';

@mixin nav-link {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.Navigation {
  background: white;
  border-bottom: 1px solid black;
  min-height: $nav-height;
  max-height: $nav-height;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: flex-end;
}

.nav-menu {
  transition: top 200ms;
  width: 150px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  * {
    cursor: pointer;
    background: none;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: -1px;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: right;
    padding: 4px 16px;
    color: black;
    &:hover {
      background: gray;
    }
  }
}

.active {
  color: green;  
}

.user-modal {
  position: absolute;
  top: calc($nav-height + 5px);
  right: 5px;
  border-top: none;
}

.UserMenu {
  position: relative;
}

.nav-open-button {
  background: none;
  border: none;
}

.default-user-icon {
  font-size: 38px;
  color: gray;
}

.spotify-user-icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
