@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

i {
  font-family: 'Material Symbols Outlined';  
  font-style: normal;
  font-size: 24px;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

.Card {
  border: 1px solid black;
  width: min-content;
  white-space: nowrap;
  padding: 8px 16px;
  border-radius: 5px;  
}
