@mixin card() {
  width: min-content;
  white-space: nowrap;
  padding: 8px 16px;
  border-radius: 5px;  
}

@mixin medium-card() {
  @include card();
  width: 500px;
  min-height: 250px;
  margin: 40px;
}

@mixin lighten-on-hover() {
  transition: background 200ms;
  &:hover {
    background: rgba(100%, 100%, 100%, .2);
  }
}

$nav-height: 55px;

$black-1: #121212;
$black-2: #1f1f1f;
$black-3: #2a2a2a;
$black-4: #292929;
$white: #fff;
$green-1: #1ed760;

