@import '@/style/variables.scss';

.IconButton {
  background: none;
  border: none;
}

.CTA {
  border-radius: 20px;
  border: none;
  margin: 0 4px;
  padding: 8px 16px;
  font-weight: 200;
  text-transform: capitalize;
  color: white;
}

.first {
  background-color: green;
}

.second {
  background: $black-4;
  @include lighten-on-hover();
}

.third {
  background-color: $black-2;
}